<footer class="footer">
  <div class="footer__content container">
    <div class="footer-top">
        <div class="footer-top__column">
            <div class="footer-top__logo"><img src="./dist/img/logo.png" alt=""></div>
            <div class="footer-top__text">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</div>
            <div class="footer-top__download"><a href="#"><img src="./dist/img/download.png" alt="Download on the app store"></a></div>
            <ul class="footer-top__social">
                <li><a href="#"><img src="./dist/img/icons/social/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="./dist/img/icons/social/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="./dist/img/icons/social/google.svg" alt="google"></a></li>
                <li><a href="#"><img src="./dist/img/icons/social/tumbler.svg" alt="tumbler"></a></li>
                <li><a href="#"><img src="./dist/img/icons/social/pinterest.svg" alt="pinterest"></a></li>
                <li><a href="#"><img src="./dist/img/icons/social/linkedin.svg" alt="linkedin"></a></li>
            </ul>
        </div>
        <div class="footer-top__column">
            <div class="footer-top__menu footer-menu">
                <div class="footer-menu__column">
                    <div class="footer-menu__label">Learn More</div>
                    <ul class="footer-menu__list">
                        <li class="footer-menu__link"><a href="#">How it works?</a></li>
                        <li class="footer-menu__link"><a href="#">Meeting tools</a></li>
                        <li class="footer-menu__link"><a href="#">Live striming</a></li>
                        <li class="footer-menu__link"><a href="#">Contat method</a></li>
                    </ul>
                </div>
                <div class="footer-menu__column">
                    <div class="footer-menu__label">About Us</div>
                    <ul class="footer-menu__list">
                        <li class="footer-menu__link"><a href="#">About us</a></li>
                        <li class="footer-menu__link"><a href="#">Features</a></li>
                        <li class="footer-menu__link"><a href="#">Privacy police</a></li>
                        <li class="footer-menu__link"><a href="#">Terms & Conditions</a></li>                
                    </ul>
                </div>
                <div class="footer-menu__column">
                    <div class="footer-menu__label">Support</div>
                    <ul class="footer-menu__list">
                        <li class="footer-menu__link"><a href="#">F.A.Q.</a></li>
                        <li class="footer-menu__link"><a href="#">Contact us</a></li>
                        <li class="footer-menu__link"><a href="#">Live chat</a></li>
                        <li class="footer-menu__link"><a href="#">Phone call</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__site">
            <span>For more freebies visit:</span>
            <a href="http://getcraftwork.com" target="_blank">http://getcraftwork.com</a>
        </div>
        <div class="footer-bottom__logo">
            <span>Made with Love by</span>
            <img src="./dist/img/logo-footer.png" alt="">
        </div>
    </div>
  </div>
</footer>
