<header class="header">
    <div class="header__wrapper">
        <div class="header__container container">
            <!-- menu -->
            <div class="header__menu menu">
                <div class="menu__icon icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav data-da="menu__mobile,1,768" class="menu__body menu__body_left">
                    <ul class="menu__list">
                        <li><a href="#" class="menu__link">Tour</a></li>
                        <li><a href="#" class="menu__link">Features</a></li>
                        <li><a href="#" class="menu__link">Pricing</a></li>
                    </ul>
                </nav>
                <div class="menu__logo">
                    <a href="#" class=""><img src="./dist/img/logo.png" alt="logo, newprovidence"></a>
                </div>
                <nav class="menu__body menu__body_right">
                    <ul class="menu__list" data-da="menu__body,2,768">
                        <li><a href="#" class="menu__link">Help</a></li>
                        <li><a href="#" class="menu__link">Contacts</a></li>
                        <li><a href="#" class="menu__link menu__link_btn icon-apple">Get App</a></li>
                    </ul>
                </nav>
                <div class="menu__mobile"></div>
            </div>
            <!-- content -->
            <div class="header__content content-header">
                <h1 class="content-header__title">What happens tomorrow?</h1>
                <div class="content-header__text">The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.</div>
                <a href="#" class="content-header__btn icon-play">Watch Video</a>
                <!-- <div class="content-header__image"><img src="./dist/img/iphone-start.png" alt=""></div> -->
            </div>
        </div>
        <div class="content-header__image">
            <img src="./dist/img/iphone-start.png" alt="">
        </div>
    </div>
</header>