<div class="popup popup-get-quote">
    <div class="popup-table table">
        <div class="cell">
            <div class="popup-content">
                <div class="popup-close"></div>
                <form action="#" class="contacts-content-form-body">
                    <div class="contacts-content-form-line">
                        <input autocomplete="off" type="text" name="form[]" data-value="Name"
                            class="input req" />
                    </div>
                    <div class="contacts-content-form-line">
                        <input autocomplete="off" type="text" name="form[]" data-value="E-mail or phone number"
                            class="input req" />
                    </div>
                    <div class="contacts-content-form-line">
                        <textarea autocomplete="off" name="form[]" data-value="Your message"
                            class="input req"></textarea>
                    </div>
                     <div class="contacts-content-form-button">
                        <button type="submit" class="contacts-content-form-btn btn">Send
                            message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>