@import "_variables";
@import "_mixins";

//<FORM>====================================================================================================
.form {
	&__error {}
}

.form-row {
	@include flexbox();
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

//</FORM>====================================================================================================

//<BUTTONS>====================================================================================================
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 39px;
	font-size: 15px;
	padding: 0px 25px;
	background-color: #f68038;
	transition: all .2s ease 0s;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	line-height: 18px;
	text-transform: uppercase;

	@media (min-width: 992px) {
		&:hover {
			background-color: #e2681c;
		}
	}

	&.fw {
		width: 100%;
	}
}

//</BUTTONS>====================================================================================================

//<SELECT>====================================================================================================
.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;

	.select-title {
		z-index: 1;
		width: 100%;
		height: 29px;
		position: relative;
		background-color: #fff;
		min-width: 166px;
	}

	.select-title__arrow {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 45px;
		height: 100%;
		background: url('../../dist/img/icons/select-arrow.svg') center no-repeat;
		transition: all .3s ease;
	}

	.select-title__value {
		color: #0097ac;
		font-weight: 300;
		font-size: 14px;
		line-height: 29px;
		display: block;
		overflow: hidden;
		padding: 0 50px 0 25px;
		white-space: nowrap;
		text-transform: none;
		text-overflow: ellipsis;
	}

	.select-options {
		position: absolute;
		z-index: 10;
		top: 30px;
		display: none;
		overflow: hidden;
		min-width: 100%;
		background-color: #fff;
		// padding: 10px 20px 10px 25px;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	}

	.select-options-scroll {
		max-height: 80px;
		overflow: auto;
	}

	.select-options-list {
		padding: 0px 0px 0px 0px;
	}

	.select-options__value {
		color: #000;
		font-size: 14px;
		// margin: 0px 0px 15px 0px;

		padding: 5px 10px;
		margin-bottom: 3px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		&:hover {
			color: #000;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: #dadada;
			}
		}
	}



	&.active {
		.select-title__arrow {
			transform: rotate(180deg);
		}
	}
}

.show__select {
	.select-title {
		min-width: 0;
		border: 2px solid #f3f3f3;
	}

	.select-title__value {
		padding: 0px 40px 0 13px;
		font-weight: 900;
		color: #999;
	}
}

//</SELECT>====================================================================================================

//<INPUT>====================================================================================================
input[type=text],
input[type=email],
input[type=tel],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 25px;
	font-size: 15px;
	border: 1px solid #dadada;
	background-color: #fff;
	height: 30px;

	&.focus {
		border: 1px solid #72c9d4;
	}

	&.err {
		border: 1px solid red;
	}
}

textarea.input {
	resize: none;
	padding: 5px 10px;
}

//</INPUT>====================================================================================================

//<CHECK>====================================================================================================
.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked+.checkbox__text:before {
			border: 2px solid #009aaf;
		}
	}

	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 12px;
		color: #666666;
		line-height: calc(16 / 12);
		cursor: pointer;

		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 15px;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			background: #fff;
			border: 2px solid #dadada;
		}
	}

	a {
		color: #fff;
		text-decoration: underline;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&.error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}


//</CHECK>====================================================================================================

//<OPTIONS>====================================================================================================
.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;

	&:last-child {
		margin-bottom: 0px;
	}

	input {
		display: none;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 16px;
		height: 16px;
		content: '';
		border: 1px solid #7f7f7f;
		border-radius: 50%;
	}

	&.active {
		&:before {
			background: url('../img/icons/option.png') center no-repeat;
		}
	}
}

//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	&.edit .star {
		cursor: pointer;
	}

	.star {
		width: 17px;
		height: 14px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url('../img/icons/bg_rating.svg') 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url('../img/icons/bg_rating_active.svg') 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
	position: relative;
	flex: 1 1 120px;
	height: 33px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
}


.quantity__input {
	height: 33px;
	width: 56px;
	text-align: center;
	color: #999999;
	font-size: 16px;
	font-weight: 900;
	border: 2px solid #e5e5e5;
	padding: 0px 5px;

	// .quantity__input-wrapp
	&-wrapp {
		margin: 0px 15px;
	}
	&:focus {
		border: 1px solid #72c9d4;
	}
}

.quantity__btn {
	flex: 0 0 20px;
	cursor: pointer;
	background: url("../../dist/img/icons/page-nav-arrow.svg") 0 0 / 100% no-repeat;
	width: 20px;
	height: 17px;

	&:before {
		font-size: 25px;
		display: inline-block;
		line-height: 10px;
		color: #a9a9a9;
	}

	&.up {
		transform: rotate(180deg);
		@media (min-width: 992px){
			&:hover {
				background: url("../../dist/img/icons/sl-arrow-o.svg") 0 0 / 100% no-repeat;
			}
		}
	}

	&.dwn {
		@media (min-width: 992px){
			&:hover {
				background: url("../../dist/img/icons/sl-arrow-o.svg") 0 0 / 100% no-repeat;
			}
		}
	}
}

//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================
.price-filter {}

.price-filter-table {
	// margin-bottom: 25px;

	.cell {
		&:first-child {
			padding-right: 15px;
			position: relative;
			text-align: right;
		}

		&:last-child {
			padding-left: 15px;
		}

		input {
			text-align: center;
			font-size: 12px;
			color: #393939;
			font-weight: 500;
			width: 100%;
		}
	}
}

.price-filter-range {
	margin: 0 12px 40px 12px;
	background-color: #eaeaea;
	height: 4px;
	position: relative;

	.ui-slider-range {
		background-color: #ffcda5;
		height: 4px;
		position: relative;
	}

	.ui-slider-handle {
		width: 23px;
		height: 23px;
		background-color: #ffffff;
		border: 1px solid #f68038;
		border-radius: 50%;
		display: block;
		position: absolute;
		top: -10px;
		margin-left: -12px;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: 15px;
			height: 15px;
			background-color: #f68038;
			border-radius: 50%;
		}

		span {
			position: absolute;
			bottom: -35px;
			left: 50%;
			width: 50px;
			text-align: center;
			margin-left: -25px;
			color: #999999;
			font-family: 'Roboto';
			font-size: 12px;
			font-weight: 300;
			line-height: 30px;
		}
	}
}

.form-range {}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;

	@media (max-width:$md3+px) {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;

	.ui-slider-range {
		background-color: #093454;
		height: 5px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0 0 4px 4px;
	}

	.ui-slider-handle {
		background: url('../img/icons/range.svg') 0 0 no-repeat;
		width: 28px;
		height: 28px;
		position: absolute;
		margin: -9px 0px 0px -14px;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.ui-state-hover {
		background: url('../img/icons/range_a.svg') 0 0 no-repeat;
	}
}

.form-range-values {
	@include flexbox();
	justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

// </RANGE>====================================================================================================