@import '_variables';
@import '_mixins';

//<FORM>====================================================================================================
.form-row {
  @include flexbox();
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

//</FORM>====================================================================================================

//<BUTTONS>====================================================================================================
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: 21px;
  background-color: #6fc754;
  font-size: 15px;
  padding: 0px 30px 0px 10px;
  transition: all 0.2s ease 0s;
  color: #fff;
  font-size: 16px;
  font-weight: 400;

  @media (max-width: $md4+px) {
    font-size: 14px;
    padding: 0 30px 0 10px;
  }

  @media (min-width: 992px) {
    &:hover {
      background-color: #5dd139;
    }
  }

  &.fw {
    width: 100%;
  }
}

//</BUTTONS>====================================================================================================

//<INPUT>====================================================================================================
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  color: #3a3d4b;
  font-weight: 400;
  font-family: 'Lato';
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 25px;
  font-size: 16px;
  background-color: transparent;

  @media (max-width: $md4+px) {
    padding: 0px 10px;
    font-size: 14px;
  }
}

textarea.input {
  resize: none;
  padding: 5px 10px;
}

//</INPUT>====================================================================================================