@import '_reset';

.title {
  color: #26272d;
  font-family: 'VarelaRound';
  font-size: 42px;
  font-weight: 400;
  line-height: calc(52 / 42);

  @media (max-width: $md2+px) {
    font-size: 32px;
  }

  @media (max-width: $md4+px) {
    font-size: 28px;
  }
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

//====================================================================================================
.slick-slider {
  position: relative;

  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .slick-track {
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    overflow: hidden;
    float: left;
    position: relative;
  }

  .slick-arrow {
    background: url('../../dist/img/icons/arrow-slider.svg') center no-repeat;
    display: block;
    width: 23px;
    height: 42px;
    position: absolute;
    z-index: 5;
  }

  .slick-prev {
    transform: rotate(180deg);
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .slick-dots {
    li {
      button {
      }

      &.slick-active {
        button {
        }
      }
    }
  }
}
