//<Сетка>======================================================================================================
$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992;
$md3:768;
$md4:480;
//<Сетка>=======================================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"Lato", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

$btn-bg: #267df4;
$decor-color: #6fc754;
$main-text-color: #8c8f94;
$title-color: #26272d;