@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";
@import "_fonts";
@import "_iconsfont";
@import "header";
@import "footer";


$btn-bg: #267df4;
$decor-color: #6fc754;
$main-text-color: #8c8f94;
$title-color: #26272d;


//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap');
//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

body.lock {
	overflow: hidden;
}

//sticky
.content {
	flex: 1 1 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;

	@media (max-width: $md3+px) {
		padding: 0px 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================

.content {
	&__info {
		padding: 120px 0px;

		@media (max-width: $md2+px) {
			padding: 80px 0;
		}

		@media (max-width: $md3+px) {
			padding: 70px 0;
		}

		@media (max-width: $md4+px) {
			padding: 40px 0;
		}
	}

	// .content__info-block
	&__info-block {
		padding: 85px 0;

		@media (max-width: $md2+px) {
			padding: 45px 0;
		}

		@media (max-width: $md3+px) {
			padding: 30px 0;
			margin: 0px 0px 30px 0px;
			//    &:last-child {
			// 	   margin: 0px 0px 0px 0px;
			//    }
		}
	}

	// .content__interface
	&__interface {
		padding: 143px 0px 0px 0px;

		@media (max-width: $md3+px) {
			padding: 80px 0px 0px 0px;
		}
	}

	&__order-product {
		padding: 75px 0px 130px 0px;
		background-color: #f5f5f8;

		@media (max-width: $md4+px) {
			padding: 55px 0 80px 0;
		}
	}

	// .content__customers
	&__customers {
		padding: 130px 0px;
		@media (max-width: $md4+px){
		   padding: 80px 0;
		}
	}
}

.info-content {

	// .info-content__container
	&__container {}

	// .info-content__row
	&__row {
		@media (min-width: 600+px) {
			display: flex;
			margin: 0px -50px;
		}

		@media (max-width: $md3+px) {
			margin: 0px -15px;
		}
	}

	// .info-content__column
	&__column {
		flex: 0 1 50%;
		padding: 0px 50px;

		@media (max-width: $md3+px) {
			padding: 0px 15px;
		}

		@media (max-width: 600px) {
			margin: 0px 0px 60px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	// .info-content__img
	&__img {
		margin: 0px 0px 45px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 25px 0px;
		}
	}

	// .info-content__title
	&__title {
		margin: 0px 0px 40px 0px;
		color: $title-color;
		font-size: 26px;
		font-weight: 400;

		@media (max-width: $md3+px) {
			font-size: 22px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .info-content__text
	&__text {
		color: $main-text-color;
		font-size: 18px;
		font-weight: 400;
		line-height: calc(26 / 18);

		p {
			margin: 0px 0px 25px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}

			@media (max-width: $md4+px) {
				margin: 0px 0px 15px 0px;
			}
		}

		@media (max-width: $md3+px) {
			font-size: 15px;
		}
	}
}

// ==================================================================================

.block-info {
	// margin: 0px 0px 100px 0px;


	@media (min-width: $md3+px) {
		display: flex;
	}

	// .block-info__content
	&__content {
		flex: 0 0 100%;
		display: flex;

		&_order {
			order: 2;

			.block-info__container {
				margin: 0;
			}
		}
	}

	// .block-info__container
	&__container {
		display: flex;
		align-items: center;
	}

	// .block-info__body
	&__body {
		// padding: 50px 0px;

		@media (min-width: $md3+px) {
			width: 50%;
			padding: 50px 40px 50px 20px;
		}
	}

	// .block-info__title
	&__title {
		max-width: 290px;
		margin: 0px 0px 70px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
			max-width: none;
		}
	}

	// .block-info__text
	&__text {
		margin: 0px 0px 70px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}

		p {
			color: #8c8f94;
			font-size: 20px;
			line-height: calc(28 / 20);
			margin: 0px 0px 30px 0px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}

			@media (max-width: $md2+px) {
				font-size: 18px;
				margin: 0px 0px 20px 0px;
			}

			@media (max-width: $md4+px) {
				font-size: 16px;
			}
		}
	}

	// .block-info__footer
	&__footer {}

	// .block-info__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		height: 42px;
		border-radius: 21px;
		background-color: #267df4;
		color: #ffffff;
		font-size: 16px;
		padding: 10px 50px 10px 20px;
		position: relative;
		margin: 0px 20px 0px 0px;

		@media (max-width: $md2+px) {
			padding: 10px 40px 10px 15px;
		}

		@media (max-width: $md4+px) {
			padding: 10px 40px 10px 15px;
			font-size: 14px;
		}

		&:before {
			position: absolute;
			right: 15px;
			top: 50%;
			font-size: 11px;
			width: 13px;
			height: 12px;
			transform: translate(0, -50%);
		}
	}


	// .block-info__more
	&__more {
		color: #26272d;
		font-size: 16px;
		font-weight: 700;
		border-radius: 21px;
		border: 1px solid #26272d33;
		padding: 11px 30px;
		height: 42px;

		@media (max-width: $md2+px) {
			padding: 11px 20px;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	// .block-info__image
	&__image {

		@media (max-width: $md3+px) {
			padding: 50px 30px 0px 30px;
		}

		img {
			max-width: 100%;
		}

		@media (min-width: $md3+px) {
			display: block;
			transform: translate(-100%, 0);
			flex: 0 0 50%;
			position: relative;
			padding: 0 0 48.25% 0;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				// object-fit: cover;
				object-fit: contain;
			}

			&_order {
				transform: translate(-14%, 0);
			}

			&_map {
				// padding: 0 0 33% 0;

				img {
					// height: 80%;
					// top: 7%;
					// object-position: left;
					transform: translate(15%, 0) scale(1.2);
				}
			}
		}
	}
}

.footer-info-block {

	// .footer-info-block__label
	&__label {
		color: #26272d;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin: 0px 0px 30px 0px;
	}

	// .footer-info-block__items
	&__items {
		img {
			margin: 0px 30px 20px 0px;

			@media (max-width: $md4+px) {
				margin: 0px 15px 20px 0px;
			}
		}
	}
}


// ====================================================================================================================================================================


.interface {
	background-color: #f5f5f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	// .interface__title
	&__title {
		text-align: center;
		margin: 0px 0px 47px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .interface__label
	&__label {
		position: relative;
		text-align: center;
		color: #8c8f94;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		padding: 43px 0px 0px 0px;

		&:before {
			content: "";
			display: inline-block;
			width: 50px;
			height: 2px;
			border-radius: 1px;
			background-color: $btn-bg;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, 0);

		}
	}

	.interface-wrapper {
		max-width: 73.125em;
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 8.5em 0 3.6em;

		@media (max-width: $md2+px) {
			padding: 7.65em 0 3em;
		}

		@media (max-width: $md3+px) {
			padding: 4.5em 0 0.5em;
		}
	}

	.screen-interface {
		width: 100%;
		margin-top: 1.25em;

		// .screen-interface__images
		&__images {
			position: relative;
			// padding-bottom: 83.1%;
			padding: 0px 0px 71.1% 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			flex-wrap: nowrap;

			img {
				display: block;
				width: 100%;
			}

			@media (max-width: $md3+px) {
				padding: 0px 0px 100% 0px;
			}
		}

		// .screen-interface_1
		&_1 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -62.1%;
			top: 0;
			width: 27.36%;
			margin-top: 9.6%;
			box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);

			@media (max-width: $md3+px) {
				display: none;
			}
		}

		// .screen-interface_2
		&_2 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -32.1%;
			top: 0;
			width: 27.36%;
			margin-top: 9.6%;
			box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);

			@media (max-width: $md3+px) {
				margin-left: -42.1%;
				width: 37.36%;
			}
		}

		// .screen-interface_3
		&_3 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			width: 34%;

			@media (max-width: $md3+px) {
				width: 44%;
			}
		}

		// .screen-interface_4
		&_4 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-left: 31.4%;
			top: 0;
			width: 27.36%;
			margin-top: 9.6%;
			box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);

			@media (max-width: $md3+px) {
				margin-left: 41.4%;
				width: 37.36%;
			}
		}

		// .screen-interface_5
		&_5 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-left: 61.3%;
			top: 0;
			width: 27.36%;
			margin-top: 9.6%;
			box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);

			@media (max-width: $md3+px) {
				display: none;
			}
		}
	}
}

// ====================================================================================================================================================================

.order-product {
	display: flex;
	justify-content: center;
	align-items: center;

	// .order-product__container
	&__container {
		max-width: 580px;
		margin: 0 auto;
	}

	// .order-product__label
	&__label {
		opacity: 0.7;
		color: #3a3d4b;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin: 0px 0px 37px 0px;

		span {
			font-weight: 700;
		}
	}

	// .order-product__title
	&__title {
		margin: 0px 0px 47px 0px;
		text-align: center;
	}

	&__form {
		border-radius: 25px;
		border: 1px solid rgba(34, 35, 40, 0.2);
		display: flex;
		align-items: center;
		padding: 3px;
		margin: 0px 0px 66px 0px;

		&.err {
			border: 1px solid rgba(255, 0, 0, .5);
		}
	}

	// .order-product__btn
	&__btn {
		position: relative;
		max-width: 164px;
		width: 100%;

		@media (max-width: $md4+px) {
			max-width: 120px;
		}

		&:before {
			position: absolute;
			right: 20px;
			top: 50%;
			font-size: 11px;
			width: 13px;
			height: 10px;
			transform: translate(0, -50%);

			@media (max-width: $md4+px) {
				right: 12px;
			}
		}
	}

	// .order-product__download
	&__download {}
}

.download-order-product {

	// .download-order-product__label
	&__label {
		opacity: 0.5;
		color: #3a3d4b;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin: 0px 0px 22px 0px;
	}

	// .download-order-product__link
	&__link {
		cursor: pointer;
		position: relative;
		padding: 12px 30px 10px 65px;
		color: #fff;
		background-color: #131315;
		border-radius: 30px;
		height: 60px;
		max-width: 220px;
		margin: 0 auto;
		font-size: 23px;

		span {
			display: block;
			font-size: 12px;
			font-weight: 400;
			text-align: left;
		}

		&:before {
			position: absolute;
			left: 10%;
			top: 50%;
			font-size: 28px;
			width: 24px;
			height: 28px;
			transform: translate(0, -50%);
		}
	}
}

// ==================================================================================

.customers-slider {

	// .customers-slider__navigation
	&__navigation {}

	// .customers-slider__body
	&__body {
		display: flex;
	}

	// .customers-slider__slide
	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .customers-slider__item
	&__item {}
}

.item-slide-customers {
	max-width: 560px;
	width: 100%;

	&__box {
		
	}

	// .item-slide-customers__title
	&__title {
		color: $title-color;
		font-size: 32px;
		font-weight: 300;
		line-height: calc(38 / 32);
		text-align: center;
		margin: 0px 0px 48px 0px;
		@media (max-width: $md4+px){
			font-size: 26px;
		}
	}

	// .item-slide-customers__blockquote
	&__blockquote {
		color: $main-text-color;
		font-size: 20px;
		font-weight: 400;
		line-height: calc(28 / 20);
		text-align: center;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md4+px){
			font-size: 18px;
		}
	}

	// .item-slide-customers__stars
	&__stars {
		display: flex;
		justify-content: center;
		margin: 0px 0px 70px 0px;
		li {
			cursor: pointer;
			margin: 0px 10px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			&:before {
				font-size: 23px;
				color: #f2bc3b;
			}
		}
	}

	// .item-slide-customers__name
	&__name {
		color: $title-color;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
}


.navigation-slider-customers {
	margin: 0px 0px 90px 0px;
	display: flex;
	justify-content: center;
	// .navigation-slider-customers__wrapper
	&__wrapper {
		max-width: 560px;
		width: 100%;
		padding: 0 20px;
		@media (max-width: $md4+px){
			padding: 0 5px;
		}
	}
	// .navigation-slider-customers__dots
	&__dots {
		display: flex;
		justify-content: space-between;
		li {
			width: 90px;
			height: 90px;
			background-color: #ccc;
			border-radius: 50%;
			transition: transform .5s ease;
			opacity: .2;
			cursor: pointer;

			&:nth-child(1){
				background: url("../../dist/img/screenshots/Photo_01.jpg") center / cover no-repeat;
			}
			&:nth-child(2){
				background: url("../../dist/img/screenshots/Photo_02.png") center / cover no-repeat;
			}
			&:nth-child(3){
				background: url("../../dist/img/screenshots/Photo_03.png") center / cover no-repeat;
			}

			&.slick-active {
				transform: scale(1.45);
				box-shadow: 12px 14px 36px rgba(92,95,101,.28);
				opacity: 1;
				@media (max-width: $md4+px){
					transform: scale(1.3);
				}
			}
			button {
				display: none;
			}

			
			@media (max-width: $md4+px){
				width: 75px;
				height: 75px;
			}
		}
	}
}
