@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";
@import "_fonts";
@import "_iconsfont";
@import "header";
@import "footer";


$btn-bg: #267df4;
$decor-color: #6fc754;
$main-text-color: #8c8f94;
$title-color: #26272d;


//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap');
//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

body.lock {
	overflow: hidden;
}

//sticky
.content {
	flex: 1 1 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;

	@media (max-width: $md3+px) {
		padding: 0px 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================

.content {

}



//</ОСНОВНОЙ БЛОК>===========================================================================================================
